@model IEnumerable<RestaurantReviews.PL.Models.Review>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditReview", new { id = item.RestaurantId, reviewId = item.Id }) |
                @Html.ActionLink("Details", "ReviewDetails", new { id = item.RestaurantId, reviewId = item.Id }) |
                @Html.ActionLink("Delete", "DeleteReview", new { id = item.RestaurantId, reviewId = item.Id })
            </td>
        </tr>
    }

</table>
