@model Tapas.Web.Models.Restaurant

    @*<form method="post" action="~/Restaurants/Create">
            Name: <input type="text" id="name" name="name" />
            Address: <input type="text" id="<address></address>" name="address" />
            <input type="submit"  />
        </form>*@
    @using (Html.BeginForm())
    {
        @Html.LabelFor(Model => Model.Id);
        @Html.EditorFor(Model => Model.Id)<br />

        @Html.LabelFor(Model => Model.Name);
        @Html.EditorFor(Model => Model.Name, new { htmlattributes = new { placeholder = "Enter Name", required = "required" } })<br />
        @Html.ValidationMessageFor(Model=>Model.Name)

        @Html.LabelFor(Model => Model.Street1);
        @Html.EditorFor(Model => Model.Street1)<br />

        @Html.LabelFor(Model => Model.Street2);
        @Html.EditorFor(Model => Model.Street2) <br />

        @Html.LabelFor(Model => Model.City);
        @Html.EditorFor(Model => Model.City)<br />

        @Html.LabelFor(Model => Model.State);
        @Html.EditorFor(Model => Model.State)<br />

        @Html.LabelFor(Model => Model.Country);
        @Html.EditorFor(Model => Model.Country)<br />

        @Html.LabelFor(Model => Model.Zipcode);
        @Html.EditorFor(Model => Model.Zipcode)<br />

        <input type="submit" value="Add" />
    }
